<div class="jumbotron">
    <h3 class="display-4">Searching for flights</h3>
    <br />
    <form>
        <div class="form-group row">
            <label for="departureCity" class="col-sm-2 col-form-label">Departure city</label>
            <div class="col-sm-10">
                <input class="form-control" id="departureCity" type="text" placeholder="{{flight_route.departureCity}}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="arrivalCity" class="col-sm-2 col-form-label">Arrival city</label>
            <div class="col-sm-10">
                <input class="form-control" id="arrivalCity" type="text" placeholder="{{flight_route.arrivalCity}}" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-lg-6">
                <label for="date_from" class="col-sm-2 col-form-label">Date from</label>
                <div class="col-sm-10">
                    <input class="form-control" id="date_from" type="date" [(ngModel)]="search_date_from">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="date_to" class="col-sm-2 col-form-label">Date To</label>
                <div class="col-sm-10">
                    <input class="form-control" id="date_to" type="date" [(ngModel)]="search_date_to">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="paxNo" class="col-sm-2 col-form-label">No of Pax</label>
            <div class="col-sm-10">
                <input class="form-control" id="paxNo" type="number" [(ngModel)]="search_noOxPax">
            </div>
        </div>
    </form>

    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" (click)="onClickSearch()" role="button">Search</a>
    </p>
</div>

<h3>Search for Flights</h3>
<h2>Flight route : {{flight_route.departureCity}} To {{flight_route.arrivalCity}}</h2>
<h2>Date range : {{search_date_from}} To {{search_date_to}}</h2>

<div *ngFor="let flight of flights">
    <div class="panel panel-success">
        <div class="panel-heading">Date : {{flight.dateToFly}}</div>
        <div class="panel-body">
            Seats left : {{flight.seatsLeft}} of ({{flight.passengerCapacity}})
        </div>
        <div class="panel-footer" style="text-align:right">
            <a [routerLink]="['/flights', flight.flightNo]">
                <span class="btn btn-primary">Book now</span>
            </a>
        </div>
    </div>
</div>