<h1>Acme Flights demonstration</h1>
<p>A test application developed illustrate .Net tools</p>

<h3>Design and Architecture</h3>
<ul>
    <li><strong>Client-side</strong>Angular 6</li>
    <li><strong>Framework</strong>Dot net core 2.0</li>
    <li><strong>Application design</strong>The appliction design is utilizing the CQRS (command Query Responsibility Segregation)</li>
    <li>
        <strong>Data storage and access</strong> Data reading is isolateed from data writiing; utilizing two diffrenet technolgies. This approach is to better use of the CQRS deign pattern.
        <ul>
            <li><strong>Write data to data storage</strong>Entoty Franework Core 2.0</li>
            <li><strong>Data storage (Read)</strong>Light weight Fluent NHibernate is used to retrieve data from the data storage.</li>
        </ul>
    </li>
    <li><strong>Database</strong>SQL Server</li>
</ul>